<table>
  <thead>
    <tr>
      <th>Short URL</th>
      <th>Original URL</th>
      <th *ngIf="isAuthenticated()">Info</th>
      <th *ngIf="isAuthenticated()">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let url of urlList">
      <td><a [routerLink]="['/sh', url.shortUrl]">localhost:4200/sh/{{ url.shortUrl }}</a></td>
      <td><a [href]='url.originalUrl'>{{ url.originalUrl }}</a></td>
      <td *ngIf="isAuthenticated()"><a [routerLink]="['/info/', url.id]">View</a></td>
      <td *ngIf="(isCreator(url.createdBy?.email || '') || isAdmin()) && isAuthenticated()"><button (click)="deleteUrl(url.shortUrl)">Delete</button></td>
    </tr>
  </tbody>
</table>

<button *ngIf="isAuthenticated()" (click)="openModal()">OPEN MODAL</button>