<div class="container">
    <form [formGroup]="logForm" (ngSubmit)="signIn()">
        <label>
          Email:
          <input type="email" formControlName="email" required>
          <div *ngIf="logForm.controls.email.invalid && (logForm.controls.email.dirty || logForm.controls.email.touched)" class="error-surface">
            <div *ngIf="logForm.controls.email.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="logForm.controls.email.errors?.['email']">
              Email is invalid
            </div>
          </div>
        </label>

        <label>
          Password:
          <input type="password" formControlName="password" required>
          <div *ngIf="logForm.controls.password.invalid && (logForm.controls.password.dirty || logForm.controls.password.touched)" class="error-surface">
            <div *ngIf="logForm.controls.password.errors?.['required']">
              Password is required
            </div>
          </div>
        </label>

        <button class="login-btn" type="submit" [disabled]="logForm.invalid">Login</button>
      </form>
</div>